@use 'exports/mix' as mix;

.header {
  @apply h-[56px] w-full bg-blue__dark__2 px-[24px] flex justify-between items-center;

  @media (min-width: 768px) {
    width: calc(100% - 80px);
    margin: auto;
    @apply rounded-[10px];
  }

  @media (min-width: 1440px) {
    margin: 95px 165px 0 calc(165px + 255px + 30px);
    width: calc(100% - 165px - 165px - 255px - 30px);
  }

  .header__left {
    @apply items-center flex gap-[40px];

    .left__count {
      @apply hidden md:flex items-center gap-[16px];

      .count__svg {
        @include mix.sqr(24px);
      }

      .count__label {
        @apply text-hd__md;
      }
    }
  }
}

.root {
  @apply w-full py-[32px] px-[24px] md:px-[40px] flex flex-col gap-[16px] xxl:items-end;

  @media (min-width: 1440px) {
    padding: 32px 165px 32px calc(165px + 255px + 30px);
  }
}
